<%= @category.name  %>

<ul>
  <% @category.bookmarks.each do |bookmark| %>
  <li>
    <h3> <%= bookmark.recipe.name %></h3>
    <p><%= bookmark.recipe.description %></p>
    <%= button_to 'Delete', bookmark_path(bookmark), method: :delete  %>
  </li>
</li>
<% end %>
<%= link_to "add a recipe", new_category_bookmark_path(@category)  %>

</ul>
